
body{
    text-align: center;
}


ol{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

ul li,
ol li{
    margin-right: 10px;
}

ol li{

    margin-bottom: 40px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

section ul{
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

h1{
    color: red;
}

h2{
    color: blue;
}

h3{
    color: rgba(121, 121, 34, 0.575);
}

#hakkimizda p, #hakkimizda h3{
    text-align: left;
}
